<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/channels">
                    <i class="fa fa-globe"></i> <span>channels</span>
                </a>
            </li>
            <li class="">
                <a href="/add_events">
                    <i class="fa fa-globe"></i> <span>add events</span>
                </a>
            </li>
            <li class="">
                <a href="/add_channel">
                    <i class="fa fa-globe"></i> <span>add channel</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
